*,
*::before,
*::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
     --body-bg-clr: #f3a83b;
     --grey-light-clr: #999999;
     --grey-dark-clr: #666666;
     --metalic-clr: #cccccc;
     --color-white-1: #ffffff;
     --color-white-2: #dddddd;
     --dark-clr: #333333;
     --dark-clr-shadow: #444444;
}

body{
     min-width: 100vw;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--body-bg-clr);
}

.container .cameraBx{
     position: relative;
     width: 600px;
     height: 350px;
     display: flex;
     flex-direction: column;
     box-shadow: inset 50px 0 60px rgba(0, 0, 0, 0.9),
     inset -50px 0 60px rgba(0, 0, 0, 0.9), 0 10px 20px rgba(0, 0, 0, 0.46);
     background-color: var(--dark-clr);
}

.container .cameraBx .topBx{
     width: 100%;
     height: 60px;
     background-color: var(--body-bg-clr);
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
}

.container .cameraBx .topBx .bigger-knob .top{
     position: relative;
     width: 120px;
     height: 55px;
     background-color: #888888;
     box-shadow: inset 12px 0 3px var(--grey-dark-clr),
     inset 30px 0 3px var(--grey-light-clr);
}

.container .cameraBx .topBx .bottom .knob-stand{
     position: relative;
     width: 90px;
     height: 10px;
     left: 50%;
     transform: translate(-50%);
     background-color: var(--grey-dark-clr);
}

.container .cameraBx .topBx .topBar{
     position: relative;
     width: 250px;
     height: 160%;
     display: flex;
     gap: 2rem;
     padding: 1rem;
     transform: translateY(40px);
     background-color: var(--metalic-clr);
     margin-left: 4rem;
     z-index: 999;
}

.container .cameraBx .topBx .smaller-knob > .knob-top{
     position: relative;
     width: 100px;
     height: 40px;
     background-color: var(--metalic-clr);
     box-shadow: inset 17px 0 3px var(--grey-light-clr);
}

/* .container .cameraBx .topBx .smaller-knob > .knob-top::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 20px;
     height: 100%;
     background-color: var(--grey-light-clr);
} */

.container .cameraBx .top-stripe, .bottom-stripe{
     position: relative;
     width: 100%;
     height: 30px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 1.2rem;
     background-color: var(--metalic-clr);
}

.container .dots{
     /* background-color: red; */
     display: flex;
     gap: 1.2rem;
}

.dots .dot{
     position: relative;
     display: block;
     width: 14px;
     height: 14px;
     border-radius: 50%;
     background-color: var(--grey-dark-clr);
     box-shadow: 2px 2px 3px var(--grey-dark-clr);
}

.dots .dot::before{
     content: '';
     position: absolute;
     top: 0.2rem;
     left: 0.4rem;
     width: 7px;
     height: 7px;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.9);
     /* box-shadow: 2px 2px 5px #fff; */
}

.dots:nth-child(2) > .dot{
     margin-right: 8rem;
     z-index: 99999;
}

.container .cameraBx .top-stripe::before, .bottom-stripe::before, .top-stripe::after, .bottom-stripe::after{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 120px;
     height: 100%;
     background: linear-gradient(to right, rgba(0, 0, 0, 0.4), var(--metalic-clr));
     /* background-color: orange; */
}

.container .cameraBx .top-stripe::after, .bottom-stripe::after{
     top: 0 ;
     left: 80% !important;
     background: linear-gradient(to left, rgba(0, 0, 0, 0.4), var(--metalic-clr));
}

.container .cameraBx .topBx .topBar .outer-circle{
     position: relative;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: var(--dark-clr);
     display: flex;
     justify-content: center;
     align-items: center;
     /* box-shadow: 5px 5px 3px #fff,
     10px 10px 3px var(--grey-light-clr), -10px -10px 3px var(--grey-light-clr); */
}

.container .cameraBx .topBx .topBar .dots{
     position: relative;
     left: -1.6rem;
     top: 2rem;
}

.container .cameraBx .topBx .topBar .outer-circle::before, .outer-circle::after{
     content: '';
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 135%;
     height: 135%;
     border-radius: 50%;
     background-color: var(--grey-light-clr);
     z-index: -1;
}

.container .cameraBx .topBx .topBar .outer-circle::after{
     width: 110%;
     height: 119%;
     background-color: var(--color-white-1);
}

.container .cameraBx .topBx .topBar .outer-circle .circle{
     /* position: absolute; */
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: var(--dark-clr-shadow);
}

.container .cameraBx .topBx .topBar .flashBx{
     position: relative;
     width: 100px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--color-white-1);
     box-shadow: -5px -5px 6px var(--dark-clr),
     3px 3px 5px var(--dark-clr);
}

.container .cameraBx .topBx .topBar .flashBx .outer-layer{
     position: relative;
     width: 90%;
     height: 80%;
     background-color: var(--dark-clr);
     display: flex;
     justify-content: center;
     align-items: center;
}

.container .cameraBx .topBx .topBar .flashBx .outer-layer .circle{
     position: relative;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: var(--grey-light-clr);
}

.container .cameraBx .topBx .topBar .flashBx .outer-layer .circle::before{
     content: '';
     position: absolute;
     top: 70%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background-color: var(--grey-dark-clr);
}

.container .cameraBx .topBx .topBar .flashBx .outer-layer::before{
     content: '';
     position: absolute;
     top: 0.5rem;
     left: 1rem;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     background-color: var(--color-white-1);
     z-index: 999;
     box-shadow: 3px 3px 5px 2px var(--grey-light-clr);
}

.container .cameraBx .bottom-stripe{
     position: absolute;
     bottom: 0;
}

.container .cameraBx .middleSection{
     position: relative;
     height: 100%;
}

.container .cameraBx .middleSection .centric-square{
     position: absolute;
     top: 0%;
     left: 55%;
     transform: translate(-45%, 0%);
     width: 190px;
     height: 100px;
     background-color: var(--metalic-clr);
}

.container .cameraBx .middleSection .lens{
     position: absolute;
     top: 0.3rem;
     left: 14rem;
     width: 237px;
     height: 237px;
     border-radius: 50%;
     background-color: var(--metalic-clr);
     box-shadow: -8px -8px 2px var(--grey-dark-clr),
     inset 4px 4px 2px var(--color-white-1),
     8px 8px 8px rgba(0, 0, 0, 0.36);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 99999;
}

.container .cameraBx .middleSection .lens .inner-lens{
     position: relative;
     width: 80%;
     height: 80%;
     border-radius: 50%;
     background-color: var(--metalic-clr);
     box-shadow: -3px -3px 2px var(--grey-dark-clr), 
      3px 3px 4px 2px rgba(0, 0, 0, 0.26);
     /* background-color: red; */
     display: flex;
     justify-content: center;
     align-items: center;
}

.container .cameraBx .middleSection .lens .inner-lens::before{
     content: '';
     position: absolute;
     width: 98%;
     height: 98%;
     border-radius: 50%;
     box-shadow: inset 4px 4px 2px var(--color-white-1);
     transform: rotate(110deg);
}

.container .cameraBx .middleSection .circle{
     position: absolute;
     width: 75px;
     height: 75px;
     left: 8rem;
     top: -1rem;
     border-radius: 50%;
     background-color: #9e9d9d;
     display: flex;
     justify-content: center;
     align-items: center;
}

.container .cameraBx .middleSection .circle::before{
     content: '';
     position: absolute;
     width: 80%;
     height: 80%;
     border-radius: 50%;
     background-color: var(--metalic-clr);
}

.container .cameraBx .middleSection .circle::after{
     content: '';
     position: absolute;
     width: 60%;
     height: 60%;
     border-radius: 50%;
     background-color: var(--grey-dark-clr);
     box-shadow: inset -5px -5px 6px var(--dark-clr), inset 5px 5px 4px rgba(255, 255, 255, 0.3);
}
